@model IEnumerable<SistemaLab.Models.Customer>

@{
    ViewData["Title"] = "Algo Bem louco!";
}
    <h2>@ViewData["User"]</h2> 

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
                <tr>
                    <td>@cliente.Name + " "</td>
                    <td>@cliente.Email</td>
                </tr>
            }
        </tbody>
    </table>
}